*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
   
}
nav{
    position: sticky;
    top: 0;
    padding: 2rem 6rem 4rem;
    background-color: white;
    z-index: 1;
}

.nav-logo{
    list-style-type: none;
    float: left;
}
.right-nav{
    float: right;
   
}

.right-nav li{
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-weight: bold;
}

.tuitt-button, .apply-button{
    background-color: #c2195b;
    border-radius: 25px;
    border-style: none;
    color: white;
}
.tuitt-button{
    padding: 10px 10px;
}


#bg-image{
    display: inline-block;
    background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    
}

.front-bg{
    
    background-color: black;
    opacity: 0.8;
    
}

.container{
   display: block;
    color: white;
    width: 400px;
    height: 250px;
    margin-left: 53%;
    text-align: right;
    
}
.title{
    
    font-size: 30px;
    margin-bottom: 10px;

}
.subtitle{
   
    padding-left: 150px;
    font-size: 12px;
}
.apply-button{
    
    margin-top: 20px;
    padding: 10px 10px;
    

}

.intro, .pre-footer{
    text-align: center;
}

.pre-footer{
    margin-top: 2rem;
    background-color: #f7fbfb;
}

.title-2{
     padding: 40px ;
     font-weight: bolder;
}

.title, .title-2{
    font-family: 'Zilla Slab';
}

.pre-footer{
    background-color: #f7fbfb;
}
.prefooter-description, .intro-description{
    margin-bottom: 8px;
    padding: 0px 200px;
    text-align: justify;
    
}
.book-button{
    background-color: #336589;
    color: white;
    padding:4px 20px ;
    border-radius: 10px;
    margin-bottom: 50px;
    border-style: none;
}

footer{
    text-align: center;
}


